.Greetings{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: linear-gradient(180deg, rgb(226 219 249 / 60%), rgb(255 255 255) 70.71%);
    justify-content: center;
    align-items: center;
}

.greetings-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}
.greetings-title{
    font-family: "Cuprum", sans-serif;
    color: grey;
    font-weight: 900;
    font-size: 7vmax;
    background: linear-gradient(217deg,rgb(193 230 234),rgb(163 145 145) 70.71%),linear-gradient(127deg,rgb(180 238 209 / 80%),#21e080 70.71%),linear-gradient(336deg,rgb(209 121 121 / 59%),rgb(223 19 115) 70.71%);
    -webkit-background-clip: text;
    color: transparent;
}