.jobs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0px 30px 0px;
    background: 
        linear-gradient(217deg, rgb(255 255 255 / 80%), rgb(255 0 0 / 6%) 70.71%), 
        linear-gradient(127deg, rgb(241 221 235 / 80%), rgb(86 209 86 / 16%) 70.71%), 
        linear-gradient(336deg, rgb(255 255 255 / 80%), rgb(68 68 168 / 29%) 70.71%);
    width: 70%;
    min-height: 70%;
    border-radius: 20px;
}

.job-primary{
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 10px;
    margin: 15px;   
}

.job-padding{
    padding: 20px;
}

.job-card-body{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.job-card-title{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #65525d7d;
    font-size: 20px;
}

.job-fakeDescription{
    height: 15px;
    background: #75a98ff2;
    opacity: 0.3;
    margin:10px;
    border-radius: 5px;
}

.job-fakeDescription-first{
    width: 60%;
}
.job-fakeDescription-second{
    width: 80%;
}